:root {
  --home-color: #4d8db6;
  --secondary-color: #b2b2b2;
}

body {
  margin: 60px 0;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: var(--home-color);
  font-size: 80px;
}

h3 {
  color: var(--secondary-color);
  font-size: 24px;
}

.container-fluid {
  padding: 0;
}

.hero {
  padding: 40px 0;
}

.first-project,
.second-project,
.third-project {
  background-color: var(--home-color);
  color: white;
  padding: 20px;
  margin-top: 50px;
}

.first-project,
.third-project {
  margin-right: 400px;
  text-align: right;
}

.second-project {
  margin-left: 400px;
}
