:root {
  --home-color: #4d8db6;
  --about-color: #facb63;
  --projects-color: #fa8c8c;
  --contact-color: #53b691;
  --secondary-color: #b2b2b2;
}

body {
  margin: 60px 0;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  border-bottom: 4px solid rgba(255, 255, 255, 0.4);
}

h1,
h3 {
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 300;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 90px;
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: 20px;
}

.header-container {
  margin-bottom: 70px;
}

.menu-bar,
.bar-title {
  font-size: 70px;
  font-weight: 300;
  line-height: 0.8;
}

.menu-bar {
  padding: 30px 20px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.bar-title {
  padding: 25px 0;
}

.bar {
  margin-bottom: 50px;
  border-radius: 5px;
  color: white;
  padding: 0 20px 5px;
}

.name-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.hero {
  padding: 20px 10px;
  margin-bottom: 50px;
}

.about,
.projects,
.contact {
  background-color: var(--home-color);
}

.about:hover {
  background-color: var(--about-color);
}

.projects:hover {
  background-color: var(--projects-color);
}

.contact:hover {
  background-color: var(--contact-color);
}

.bar-projects {
  background-color: var(--projects-color);
}

.about-title {
  color: var(--about-color);
}

.projects-title {
  color: var(--projects-color);
}

.bar-about {
  background-color: var(--about-color);
  margin-top: 50px;
}

.bar-about h1 {
  color: white;
}

.selfie-img {
  border-radius: 5px;
}

@media (max-width: 576px) {
  h1,
  h3 {
    font-size: 16px;
  }

  h2 {
    font-size: 60px;
  }

  p {
    font-size: 14px;
    padding: 0 0 5px 0;
  }

  .hero {
    margin-bottom: 10px;
  }

  .header-container {
    margin-bottom: 30px;
  }

  .bar-container {
    margin: 0 10px;
  }
  .menu-bar {
    padding: 15px 10px;
    font-size: 26px;
    margin-bottom: 25px;
  }

  .selfie {
    margin-right: 10px;
  }

  .bar-title {
    font-size: 26px;
    padding-bottom: 18px;
  }

  .bar {
    padding: 0 15px;
  }
}
