:root {
  --home-color: #4d8db6;
  --secondary-color: #b2b2b2;
}

body {
  margin: 60px 0;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: var(--home-color);
  font-size: 80px;
}

h3 {
  font-family: "Manrope", sans-serif;
  color: var(--secondary-color);
  font-size: 24px;
}
